
.white {
	color:#EFFFE9;
	padding-top:1.5vh;
	padding-left:1em;
}

header {
	background-color:#011627;
	height: 5vh;
	width:100%;
}

body {
	font-size:16px;
	font-family: 'Ubuntu', sans-serif;
}

.setMarkdownTextarea {
	margin-top:0.5vh;
	padding-left: 0.5em;
	margin-left:0.1%;
	width:49.9%;
	min-height:90vh;
	border:1px solid grey;
	border-radius:0.3em;
}

.setMarkdownTextarea:focus {
	outline: none;
	border-color: #6AAFE6;

}


.container{
	display:flex;
	
}

.viewMarkdown {
	cursor:no-drop;
	background-color: #fff;
	padding-left: 0.5em;
	margin-top:0.5vh;
	width:49.9%;
	min-height:90vh;
	border:1px solid grey;
	border-radius:0.3em;
	margin-right:0.1%;
	margin-left:1.2%;
}
